<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">

      <h1 style="font-weight:bold;">Welcome To Glorial Skin</h1>
      <ul>
        <% for (let product of products ) { %>
          <li>
            <a href="/products/<%=product._id%>">
              <%= product.name %>
              <img class="indexPics" src="<%= product.img %>">
          </li>
       <% } %>
      </ul>
    </div>

  </body>
  <%- include ('../partials/footer.ejs') %>
</html>
